body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.navbar li {
    display: inline;
}

.navbar .nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar .nav-link:hover {
    background-color: #575757;
}

.main_buttons {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main_buttons button:hover {
    background-color: #0056b3;
}

#button-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#new_word_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#new_word_form {
    display: flex;
    flex-direction: column;
}

#new_word_form label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

#new_word_form input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#new_word_form button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#new_word_form button:hover {
    background-color: #0056b3;
}

.flashes {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.flashes li {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.flashes .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.flashes .success {
    background-color: #d7f8e3;
    color: #721c24;
    border: 1px solid #c6f5d2;
}